@{
    ViewData["Title"] = "Контакти";
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <style type="text/css">
    </style>
</head>
<body>
    <div class="images">
        <table>
            <tr>
                <td class="parent">
                    <img src="~/Resources/Dog12.jpg" />
                </td>

            </tr>

            <tr>
                <td class="parent">
                    <img src="~/Resources/Dog13.jpg" />
                </td>
            </tr>
        </table>
    </div>
    <div class="leftImages">
        <table>
            <tr>
                <td class="parent">
                    <img src="~/Resources/Dog6.jpg" />
                </td>

            </tr>

            <tr>
                <td class="parent">
                    <img src="~/Resources/Dog20.jpg" />
                </td>
            </tr>
        </table>
    </div>
    <div class="contact-box">
        <h1>Контакти</h1>
        <p>
            Клиниката ни работи без почивен ден.
        </p>
        <p>
            Телефон за спешни случаи: +359 888 654 123
        </p>
        <p>
            Разполагаме с денонощен дежурен лекар-специалист и сме готови да се погрижим за всеки проблем на Вашият четириног приятел.
        </p>
        <p>
        </p>
        <p>
            С Уважение,
        </p>
        <p>
            Eкипът на Pet Clinic "Щастливи лапи"
        </p>

    </div>
</body>


