@{
    ViewData["Title"] = "Домашни посещения";
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <style type="text/css">
    </style>
</head>
<body>
    <div class="text-box">
        <h1>Домашни посещения</h1>
    </div>
</body>
