@{
    ViewData["Title"] = "Домашни посещения";
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <style type="text/css">
    </style>
</head>
<body>
    <div class="text-box">
        <h1>Домашни посещения</h1>
        <p>
            <h3> 24 часа на ден / 7 дни в седмицата / 365 дни в годината</h3>
        </p>
        <p>
            + Изпращаме екип, като следва да се отчете времето за достигане до адреса съобразно натовареността на трафика. В случай, че всички екипи са по адреси, то изпращаме първи освободил се екип, за което операторът приел обаждането ще предупреди.
        </p>
        <p>
            + Предварително записан час – може предварително да запишете ден и час на посещение.
        </p>
        <p>
            <h3> Ниски Цени </h3>
        <p>
            + домашно посещение от лекар "Обща ветеринарна медицина" – 100 лв. без манипулации и консумативи
        </p>
        <p>
            + домашно посещение от лекар "Вътрешни болести" – 120 лв. без манипулации и консумативи
        </p>
        <p>
            + домашно посещение от лекар "Паразитология" – 150 лв. без манипулации и консумативи
        </p>
        <p>
            + домашно посещение от лекар "Спешна медицина" – 180 лв. без манипулации и консумативи
        </p>
        <p>
            + Манипулации и консумативи – цена от оператор
        </p>
        <p>
            + СПЕЦИАЛНИ ЦЕНИ за клиенти, които ползват услугите ни често
        </p>
        <p>
            + За всички останали услуги обадете се на оператор за цена
        </p>
        <h3> Обадете се Сега </h3>
        <p>
            + Наш оператор ще приеме обаждането, ще зададе уточняващи въпроси и ще Ви препоръча най-доброто решение съобразено с Вашите нужди. В случай, че всички екипи са по адреси, то изпращаме първи освободил се екип, за което операторът приел обаждането ще предупреди.
        </p>
        <p>
            + Екип се избира в зависимост от състоянието на пациента.
        </p>
        <p>
            Екипите ни работят 24 часа на ден | 7 дни в седмицата | 365 дни в годината.
        </p>
        <p>
        <p>
            С Уважение,
        </p>
        <p>
            екипът на Pet Clinic "Щастливи лапи"
        </p>
    </div>
     <div class="head1">
                <p class="head2"> ДОВЕРЕТЕ СЕ НА НАС </P>
            </div>
</body>
