@{
    ViewData["Title"] = "Важна информация";
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <style type="text/css">
    </style>
</head>
<body>
    <div class="images">
        <table>
            <tr>
                <td>
                    <img src="~/Resources/happyanimal6.jpg" />
                </td>
                
            </tr>
            
            <tr>
                <td>
                    <img src="~/Resources/cat.jpg" />
                </td>
            </tr>
        </table>
    </div>
    <div class="text-box">
        <h1>Важна информация</h1>
        <p>
            Отглеждането на домашен любимец изисква много повече от това да го храните и да му осигурите къде да спи. Първоначално се налага да положите повече усилия, но това определено си заслужава. Създаването на добри и здравословни навици във възможно най - ранна възраст ще постави основите на една дългогодишна щастлива връзка между вас и домашния ви любимец. Първото място, на което трябва да отидете е при ветеринаря. Това посещение ще ви даде отговор на въпроса дали то е здраво. Ще разберете дали има здравословни проблеми, вродени дефекти или други аномалии и ще постави основите на едно превантивно следене на здравословното състояние и ще научите как да се грижите правилно за него.
        </p>
        <p>
            Куче:
        </p>
        <p>
        Купуването на качествена храна на кученцето е от огромно значение. Препоръчва се малките и средните породи да започнат да приемат храна за възрастни кучета, когато навършат 9-12 месеца. За големите породи кучета се препоръчва преминаване към храна за възрастни след 12-я месец. Кученцето трябва да се храни по няколко пъти на ден.
        </p>
        <p>
        Първото нещо, което трябва да научите кученцето си е това да ходи до тоалетна навън или на определени места в къщата (до преминаването на задължителните ваксини). Според експертите най - добрите съюзници в усилията за домашно възпитание са търпението, планирането и положителната подкрепа. Бъдете положителни, когато възпитавате кучето. Похвалите и лакомствата действат много по - добре от негативното отношение и наказанията. Социализацията на кученцето е също толкова важна, колкото и неговото обучение за послушание.
        </p>
        <p>
            Коте:
        </p>
        <p>
            Ежедневното четкате на козината ще намали топките косми, които биха са образували в стомаха на мъркащия ви приятел. Това важи особено за дългокосместите красавци. Макар и самите гальовни приятели да се грижат отлично за козината си - няма как да избягат от топките в стомаха, така че допълнителната помощ от ваша страна ще изиграят ключова роля за здравето му.
        </p>
        <p>
            За разлика от кучетата, котките имат нужда от много протеин, на които е богата мократа храна и не могат да ядат всичко. Месото заема челно място в менюто им. Оптимално е всеки ден гальовният ви съквартирант да консумира и двата вида храна. Грижете се за мяукащия ви спътник да приема достатъчно количество прясна вода както от купичката си, така и с мократа храна.
        </P>
        <p>
            Факт е, че котките не изискват толкова много грижи колкото кучетата. Все пак, за да имате прекрасно и щастливо мъркащо животинче, което да ви обича - не неглижирайте здравето му!
        </p>
    </div>
</body>
