@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="index-page-greeting" style="font-size:60px">Pet Clinic</h1>
    <p class="index-page-greeting-p" style="font-size:30px">Най-добрата грижа за щастливи лапи</p>

    <img src="~/Resources/home.png" style="width: 75vh" />
</div>
