@{
    ViewData["Title"] = "Ценоразпис";
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <style type="text/css">
    </style>
</head>
<body>
    <div class="text-box">
        <p>
            <h3 class="head3"> Ценоразпис </h3>
        </p>
        <table class="form">
            <tr>
                <th> Вид на посещението </th>
                <th> Цена </th>
            </tr>
            <tr>
                <td>Първичен преглед</td>
                <td>50 лв. </td>
            </tr>
            <tr>
                <td>Контролен преглед</td>
                <td>30 лв. </td>
            </tr>
            <tr>
                <td>Консултация/Второ мнение</td>
                <td>40 лв. </td>
            </tr>
            <tr>
                <td>Специализиран преглед /ортопедичен, неврологичен и др./</td>
                <td>60 лв. </td>
            </tr>
            <tr>
                <td>Годишна ваксина</td>
                <td>40 лв. </td>
            </tr>
            <tr>
                <td>Ваксина KC - кучешка кашлица</td>
                <td>30 лв. </td>
            </tr>
            <tr>
                <td>Ваксина бяс</td>
                <td>30 лв. </td>
            </tr>
            <tr>
                <td>Издаване на стандартен паспорт</td>
                <td>20 лв. </td>
            </tr>
            <tr>
                <td>Издаване/ преиздаване на международен паспорт</td>
                <td>30 лв. </td>
            </tr>
            <tr>
                <td>Поставяне на микрочип</td>
                <td>50 лв. </td>
            </tr>
            <tr>
                <td>Външно обезпаразитяване</td>
                <td>15 лв. </td>
            </tr>
            <tr>
                <td>Вътрешно обезпаразитяване</td>
                <td>25 лв. </td>
            </tr>
            <tr>
                <td>Отстраняване на кърлеж</td>
                <td>10 лв. </td>
            </tr>
            <tr>
                <td>Хоспитализация до 4 часа</td>
                <td>40 лв. </td>
            </tr>
            <tr>
                <td>Хоспитализация до 12 часа</td>
                <td>70 лв. </td>
            </tr>
            <tr>
                <td>Хоспитализация до 24 часа</td>
                <td>100лв.</td>
            </tr>
            <tr>
                <td>Спешна помощ при постъпване</td>
                <td>60 лв. </td>
            </tr>
            <tr>
                <td>Кръвопреливане</td>
                <td>40 лв. </td>
            </tr>
            <tr>
                <td>Интензивни грижи за 12-часов блок</td>
                <td>80 лв. </td>
            </tr>
            <tr>
                <td>Пълна кръвна картина</td>
                <td>30 лв. </td>
            </tr>
            <tr>
                <td>Биохимични показатели /за показател/</td>
                <td>5 лв. </td>
            </tr>
            <tr>
                <td>Пълен панел /ПКК + пълна биохимия/</td>
                <td>65 лв. </td>
            </tr>
            <tr>
                <td>Анализ на анемии /ПКК, ДКК, протеин, ретикулоцити, морфолология на еритроцити, тест за аглутинация, брой и морфология на тромбоцити/</td>
                <td>85 лв. </td>
            </tr>
            <tr>
                <td>Изследване на урина - седимент</td>
                <td>20 лв. </td>
            </tr>
            <tr>
                <td>Изследване на урина - цитология</td>
                <td>40 лв. </td>
            </tr>
            <tr>
                <td>Къпане и изсушаване на котки и куче до 10 кг.</td>
                <td>40 лв. </td>
            </tr>
            <tr>
                <td>Къпане и изсушаване на куче от 11 до 30 кг.</td>
                <td>55 лв. </td>
            </tr>
            <tr>
                <td>Къпане и изсушаване на куче над 30 кг</td>
                <td>70 лв. </td>
            </tr>
            <tr>
                <td>Изрязване на нокти</td>
                <td>15 лв. </td>
            </tr>
            <tr>
                <td>Почистване на уши</td>
                <td>20 лв. </td>
            </tr>
            <tr>
                <td>Цялостно подстригване - куче/котка</td>
                <td>90 лв. </td>
            </tr>
        </table>

    </div>
</body>


