@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetClinic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PetClinic.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navigationbar border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin") || User.IsInRole("Vet"))
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Veterinarian" asp-action="AddVeterinarian">Добави ветеринар</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Pet" asp-action="AddPet">Добави животно</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Owner" asp-action="AddOwner">Добави собственик</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Vaccines" asp-action="All">Ваксини</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Нашите собственици" asp-controller="Owner" asp-action="All">Нашите собственици</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Visits" asp-action="AllVisit">Посещения</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Нашите животни" asp-controller="Pet" asp-action="All">Нашите животни</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Начало" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="За нас" asp-controller="Home" asp-action="ForUs">За нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Нашият екип" asp-controller="Veterinarian" asp-action="All">Нашият екип</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Важна информация" asp-controller="Home" asp-action="ImportantInformation">Важна информация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Ценоразпис" asp-controller="Home" asp-action="PriceList">Ценоразпис</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Домашни посещения" asp-controller="Home" asp-action="HomeVisits">Домашни посещения</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Контакти" asp-controller="Home" asp-action="Contacts">Контакти</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - PetClinic
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
