@{
    ViewData["Title"] = "Грешка";
}

<div class="text-center">
    <h1 class="index-page-greeting" style="font-size:60px">Pet Clinic</h1>
    <h3>Грешка :(</h3>
    <img src="~/Resources/home.png" style="width: 75vh" />
</div>
